/* home content */

main {
  background-color: #FEFAE0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-hobby_item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  flex-direction: column;
  font-size: small;
  background-color: #FFCC00;
  border-radius: 10px;
  box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.25);
  transition: transform 0.1s ease-in-out;
}

.card-hobby_item:hover {
transform: scale(1.1); /* Adjust the scale factor as needed */
}

.card-hobby_item .hobby-icon {
  width: 100px; /* Adjust the width and height as needed */
  height: 100px;
  background-color: white; /* Set the background color */
  border-radius: 50%; /* Create a perfect circle */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.card-hobby_item .hobby-title a {
  text-decoration: none;
  color: black;
}

.home-card_item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  margin: 100px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}