/* Info profile */

main {
    background-color: #FEFAE0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.postIt-card_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 25px 50px;
    margin: 25px;
    box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #FFE86D; /* Background color updated */
}

.content-card_item{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

.postIt-title_card {
    font-size: x-large;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #FFE86D; /* Background color updated */
}

.form-edit {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    background-color: #FFE86D;
}

#save-btn,
#logout-btn {
    border-radius: 10px;
    background: #CD0000;
    padding: 7px 31px;
    color: #fff;
    border: none;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer; /* Add cursor pointer for better UX */
}

#logout-btn {
    margin-right: 20px; /* Adjusted margin for better spacing */
}

.modal-footer {
    display: flex;
    justify-content: center; /* Center content horizontally */
    margin-top: 20px;
}
