@media screen and (max-width: 480px){
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

li {
    display: none;
}

.app-bar__menu {
    padding: 10px;
    color: white;
}

.home-card_item {
    display: grid;
    grid-template-columns: 1fr;
}

}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 1024px) {

}